:root {
  --primary: #864CFF;
  --secondary: #F0F3F8;
  --white: #FFFFFF;
  --whitebg: #E9EDF9;
  --black: #050304;
  --blackbg: #B8BFD9;
  --text: #757275;
  --color1: #4DAF50;
  --color2: #EAEAEA;
  --color3: #FAFAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
  overflow-x: hidden;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  margin: 20px auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.white {
  background-color: var(--whitebg);
}

.black {
  background-color: var(--blackbg);
}

.selected {
  box-shadow: inset 0 0 2px 3px yellow;
}

.piece {
  font-size: 46px;
}

.white_piece {
  color: var(--white);
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.6));
}

.black_piece {
  color: var(--black);
  filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.6));
}